apiVersion: v1
items:
- apiVersion: v1
  data:
    admin: ""
    token: TmljZVRyeQo==
  kind: Secret
  metadata:
    labels:
      app.kubernetes.io/name: fabtcg-bot
    name: fabtcg-bot
    namespace: production
  type: Opaque
- apiVersion: v1
  kind: Service
  metadata:
    labels:
      app.kubernetes.io/name: fabtcg-bot
    annotations:
      prometheus.io/scrape: 'true'
      prometheus.io/port: '8080'
    name: fabtcg-bot
    namespace: production
  spec:
    ports:
    - name: http
      port: 8080
      targetPort: 8080
    selector:
      app.kubernetes.io/name: fabtcg-bot
- apiVersion: apps/v1
  kind: StatefulSet
  metadata:
    labels:
      app.kubernetes.io/name: fabtcg-bot
    name: fabtcg-bot
    namespace: production
  spec:
    podManagementPolicy: OrderedReady
    replicas: 1
    selector:
      matchLabels:
        app.kubernetes.io/name: fabtcg-bot
    serviceName: fabtcg-bot
    template:
      metadata:
        labels:
          app.kubernetes.io/name: fabtcg-bot
        name: fabtcg-bot
        namespace: production
      spec:
        containers:
        - command: ["/usr/bin/fabtcg-bot"]
          args:
          - --log.level=info
          env:
          - name: TELEGRAM_ADMIN
            valueFrom:
              secretKeyRef:
                key: admin
                name: fabtcg-bot
          - name: TELEGRAM_TOKEN
            valueFrom:
              secretKeyRef:
                key: token
                name: fabtcg-bot
          image: quay.io/cbrgm/fabtcg-bot:latest
          imagePullPolicy: Always
          name: fabtcg-bot
          ports:
          - containerPort: 8080
            name: http
          resources:
            limits:
              cpu: 100m
              memory: 128Mi
            requests:
              cpu: 25m
              memory: 64Mi
        restartPolicy: Always
kind: List
